*::selection {
  color: #000;
  background-color: $red ;
}

body {
  display: flex;
  flex-direction: column;
}

.main {
  flex-grow: 1;
}

.container {
  max-width: 1230px;
  padding: 0 15px;
  margin: 0 auto;
}

.logo {
  max-width: 178px;
  width: 100%;
  height: 47px;
  overflow: hidden;

  &-img {
    object-fit: cover;
  }
}

.title {
  @extend %H1;
}