@import 'vars';
@import 'fonts';
@import 'reset';
@import 'global';
@import 'libs';


/* =====HEADER===== */

.header {
  background-color: $red;
  padding: 40px 0 20px 0;
  z-index: 1000;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;

  &__inner {
    display: flex;
    justify-content: space-between;
    gap: 30px;
    align-items: flex-end;
    flex-wrap: wrap;
  }
}

.header-menu {
  display: flex;
  gap: 35px;
  flex-wrap: wrap;
  &__item{
    padding-bottom: 10px;
  }

  &__item-link {
    text-decoration: none;
    text-transform: uppercase;
    @extend %menu;
    color: $white;
    transition: all .4s ease-in-out;
    position: relative;
    padding-bottom: 10px;

    &::before {
      content: "";
      position: absolute;
      width: 0%;
      height: 4px;
      bottom: 0px;
      left: 0;
      background-color: #fff;
      transition: all .4s ease-in-out;
    }

    &:hover {
      color: #000;

      &::before {
        width: 100%;
        background-color: #000;
      }
    }
  }
}

.header-button{
  width: 50px;
  height: 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 0;
  margin: 0;
  background-color: transparent;
  border: none;
  cursor: pointer;

  position: absolute;
  visibility: hidden;
  opacity: 0;
  transition: all .3s ease-in-out;

  &__line{
    width: 100%;
    height: 4px;
    background-color: $black;
  }
}


/* =====TOP SECTION===== */

.top {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  padding-top: calc(183px + 107px);
  padding-bottom: 92px;
  text-align: center;

  &__title {
    @extend %H0;
    text-align: center;
    max-width: 1094px;
    margin: 0 auto 38px;
    color: $white;
    text-transform: uppercase;
  }

  &__link {
    display: flex;
    justify-content: center;
    align-items: center;
    @extend %button;
    text-transform: uppercase;
    text-decoration: none;
    color: #151515;
    min-height: 90px;
    max-width: 430px;
    width: 100%;
    padding: 15px 20px;
    margin: 0 auto;
    background-color: $white;
  }
}

/* =====MAIN SLIDER===== */

.swiper-slide.main-slider-slide {
  height: calc(100vh - 107px);

  & img {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
}

.main-slider-pagination {
  z-index: 1000;
  padding-bottom: 92px;
  display: flex;
  gap: 30px;
  justify-content: center;
  align-items: center;
  padding: 0 30px 92px;
  bottom: -4px !important;
  transition: all .3s ease-in-out;
}

.swiper-pagination-bullet {
  opacity: 1;
  width: 120px;
  height: 3px;
  border-radius: 0;
  background-color: #fff;
}

.swiper-pagination-bullet-active {
  height: 6px;
  background-color: $red;
}

/* =====BENEFITS===== */
.benefits {
  padding-top: 150px;

  &__title {
    margin-bottom: 50px;
    text-align: center;
  }

  &__items {
    display: flex;
    justify-content: space-between;
    gap: 40px;
    flex-wrap: wrap;
  }
}

.benefits-item {
  max-width: 270px;
  width: 100%;
  min-height: 320px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;

  &__img {
    width: 150px;
    height: 150px;
    object-fit: cover;
  }

  &__name {
    @extend %H2;
  }

  &__description {
    @extend %Text-16;
  }

}

/* =====INSTRUCTIONS===== */

.instructions {
  padding-top: 150px;

  &__inner {
    max-width: 580px;
    width: 100%;
    margin: 0 auto;
  }

  &__title {
    text-align: center;
    margin-bottom: 50px;
  }

  &__text {
    @extend %Text-16;
    margin-bottom: 50px;

    &:last-child {
      margin-bottom: 0;
    }
  }
}


.instructions-list {
  max-width: 510px;
  width: 100%;
  margin-left: auto;
  display: flex;
  flex-direction: column;
  gap: 40px;
  list-style: none;
  margin-bottom: 70px;
  /*
  Это устанавливает начальное значение счетчика с именем "ol-decoration" внутри элемента,
  к которому применяется класс "instructions-list".
  */
  counter-reset: ol-decoration;

  &__title {
    @extend %H2;
    margin-bottom: 79px;
  }

  &-item {
    @extend %Text-16;
    position: relative;
    margin-left: auto;
    padding: 19px 0px 19px 240px;

    &::before {
      /*
      Устанавливает содержимое псевдоэлемента "::before" в значение счетчика с именем "ol-decoration".
      Это означает, что значение счетчика будет отображаться перед содержимым каждого элемента.
      */
      content: counter(ol-decoration);
      /*
      Увеличивает значение счетчика с именем "ol-decoration" на единицу.
      Это означает, что значение счетчика будет увеличиваться для каждого элемента,
      к которому применяется класс "instructions-list-item".
      */
      counter-increment: ol-decoration;

      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      width: 100px;
      height: 100px;
      background-color: $red;
      display: flex;
      justify-content: center;
      align-items: center;
      @extend %H1;
      color: $white;
      border-radius: 50%;
    }
  }

}


/* =====VIDEO SECTION===== */

.video {
  padding-top: 150px;

  &__inner {
    max-width: 1000px;
    width: 100%;
    margin: 0 auto;
  }

  &__title {
    margin-bottom: 20px;
    text-align: center;
    text-transform: uppercase;
  }

  &__subtitle {
    @extend %H2;
    text-align: center;
    margin-bottom: 50px;
  }

  &__bg {
    max-width: 1000px;
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
  }
  &__img{
    max-width: 80px;
    height: 56px;
    object-fit: contain;
  }
}

/*=====IMPORTANTS=====*/

.importants {
  padding-top: 150px;
  padding-bottom: 130px;

  &__title {
    text-align: center;
    margin-bottom: 20px;
  }

  &__subtitle {
    @extend %Text-16;
    max-width: 580px;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 50px;
  }

  &__items {
    display: flex;
    justify-content: space-between;
    gap: 40px;
    flex-wrap: wrap;
  }
}

.importants-item {
  max-width: 270px;
  width: 100%;

  &__img {
    max-width: 270px;
    width: 100%;
    height: 150px;
    object-fit: cover;
    margin-bottom: 20px;
  }

  &__text {
    @extend %Text-16;
  }
}

/*=====FOOTER=====*/


.footer {
  background-color: $black;
  padding: 50px 0px 30px;
  color: $white;

  &__items {
    display: flex;
    justify-content: space-between;
    gap: 40px;
    flex-wrap: wrap;
    padding: 0 90px;
    margin-bottom: 50px;
  }

  &__for-questions {
    max-width: 806px;
    width: 100%;
    text-align: center;
    margin: 0 auto 90px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
  }

  &__phone-link {
    color: inherit;
  }
}

.footer-item {
  max-width: 270px;

  &__title {
    @extend %H2;
    margin-bottom: 40px;
  }

  &__list {
    & li+li {
      margin-top: 20px;
    }
  }

  &__list-item-link {
    @extend %Text-16;
    text-decoration: none;
    color: $white;
  }
}

.footer__store-links {
  display: flex;
  justify-content: center;
  gap: 54px;
  flex-wrap: wrap;
  margin-bottom: 52px;

  & img {
    max-width: 144px;
    width: 100%;
    height: 40px;
    object-fit: cover;
  }
}

.footer-policy {
  display: flex;
  justify-content: center;
  gap: 40px;
  flex-wrap: wrap;

  &__link {
    @extend %Text-16;
    color: $white;
    text-decoration: none;
  }
}


/*=====CHOOSE WEAPON PAGE=====*/

.header--second {
  background-color: $black;

  .header-menu__item-link:hover {
    color: $red;
  }

  .header-menu__item-link:hover::before {
    background-color: $red;
  }
}


/*=====CHOOSE WEAPONS SECTION=====*/

.choose-weapons {
  padding: 100px 0 170px;

  &__title {
    text-align: center;
    margin-bottom: 50px;
  }

  &__buttons {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 80px;
    row-gap: 20px;
    margin-bottom: 100px;
  }

  &__button {
    @extend %H2;
    border: none;
    background-color: transparent;
    cursor: pointer;
    transition: all .2s ease-in-out;
    position: relative;
    padding-bottom: 10px;

    &::before {
      content: "";
      width: 0%;
      height: 4px;
      position: absolute;
      background-color: $red;
      bottom: 0;
      left: 0;
      transition: all .3s ease-in-out;
      background-color: $black;
    }
  }

  &__items {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
    row-gap: 100px;
    margin-bottom: 100px;
  }


}

.choose-weapons__button.mixitup-control-active {
  color: $red;

  &::before {
    width: 100%;
    background-color: $red;
  }
}

.choose-weapons-item {
  max-width: 270px;
  width: 100%;
  border: 1px solid $red;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &__img {
    width: 100%;
    height: 170px;
    object-fit: cover;
    margin-bottom: 20px;
  }

  &__name {
    @extend %H2;
    text-align: center;
    margin-bottom: 20px;
  }

  &__price {
    @extend %H2;
    text-align: center;
    margin-bottom: 20px;
  }

  &__link {
    @extend %Text-16;
    color: $red;
    text-decoration: none;
    border-top: 1px solid $red;
    display: flex;
    justify-content: center;
  }
}

/*=====BLOG SECTION=====*/

.blog {
  padding-bottom: 220px;

  &__items {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 40px;
    margin-bottom: 70px;
  }
}

.blog-item {
  max-width: 580px;
  width: 100%;

  &__img {
    max-width: 580px;
    width: 100%;
    height: 260px;
    object-fit: cover;
    margin-bottom: 30px;
  }

  &__info {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  &__title {
    @extend %H2;
    max-width: 354px;
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  &__link {
    @extend %Text-16;
    text-decoration: none;
    color: $white;
    max-width: 80px;
    width: 100%;
    background-color: $red;
    min-height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;

  }
}

/*=====CONTACT=====*/

.contact {
  padding: 100px 0 150px;

  &__inner {
    max-width: 935px;
    width: 100%;
    margin: 0 auto;
    text-align: center;
  }

  &__title {
    margin-bottom: 20px;
  }

  &__subtitle {
    @extend %H2;
    margin-bottom: 50px;
  }
}

.contact-form {
  max-width: 580px;
  width: 100%;
  margin: 0 auto;

  &__inputs {
    display: flex;
    justify-content: space-between;
    gap: 40px;
    flex-wrap: wrap;
    margin-bottom: 50px;
  }

  &__input {
    max-width: 270px;
    width: 100%;
    min-height: 57px;
    padding: 18px 20px;
    border: 1px solid $red;
    @extend %Text-16;

    &::placeholder {
      color: $black;
      opacity: 0.5;
    }
  }

  &__textarea {
    resize: none;
    width: 100%;
    height: 291px;
    padding: 28px 20px;
    border: 1px solid $red;
    margin-bottom: 50px;
    @extend %Text-16;

    &::placeholder {
      color: $black;
      opacity: 0.5;
    }
  }

  &__button {
    max-width: 184px;
    cursor: pointer;
  }
}


/*
font-family: 'Inter', sans-serif;
fw : 400 , 700


*/

@import 'media';