@import 'vars';
@import 'fonts';
@import 'reset';
@import 'global';
@import 'libs';


/* =====HEADER===== */

.header {
  background-color: $red;
  padding: 40px 0 20px 0;

  &__inner {
    display: flex;
    justify-content: space-between;
    gap: 30px;
    align-items: flex-end;
    flex-wrap: wrap;
  }
}

.header-menu{
  display: flex;
  gap: 35px;
  flex-wrap: wrap;
  &__item-link{
    text-decoration: none;
    @extend %menu;
    color: $white;
  }
}



/*
font-family: 'Inter', sans-serif;
fw : 700


w178 47
*/

@import 'media';